.details-container {
  position: relative;
  overflow: hidden;
  font-family: 'Antic Didone', sans-serif;
  height: 650px;
  box-shadow: 0 0 20px 0 rgb(164, 177, 177);
  margin: 5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 2rem;
}

.accent-container {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  transform: rotate(270deg);
  bottom: 19em;
  left: -13rem;
  width: 540px;
}

.accent-text {
  padding-right: 1rem;
  color: purple;
}

.details-container > h1 {
  position: absolute;
  top: 3%;
  right: -0.2em;
  font-size: 8rem;
  width: max-content;
  opacity: 10%;
}

.details-container h3 {
  padding-bottom: 1rem;
}

.ingredients {
  font-family: 'Josefin Sans', sans-serif;
  text-align: right;
  padding: 1em;
  width: 16em;
}


.ingredients > ul {
  list-style-type: none;
  padding: 0;
}

.recipe {
  font-family: 'Josefin Sans', sans-serif;
  padding: 1em;
  width: 16em;
}

.title-container {
  padding: 2em;
}

.title-container > h2 {
  font-size: 2.5rem;
  width: 6.5em;
  line-height: 2.5rem;
}

.title-container > p {
  font-size: 1.5rem;
  color: purple;
  padding-left: 1rem;
}

.drink-pic {
  z-index: -1;
  position: absolute;
  top: 10%;
  right: -6em;
  height: 80%;
  opacity: 28%;
}

.details-container > button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1.3rem 3rem;
  border: none;
  background-color: inherit;
  font-family: 'Josefin sans', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  cursor: pointer;
}

.details-container > button:hover {
  text-decoration: underline;
}

.error {
  font-family: 'Antic Didone', sans-serif;
  padding: 2rem;
  font-size: 1.5rem;
  justify-self: center;
}

@media (max-width: 1160px) {
  .details-container {
    display: grid;
    grid-template-areas: 
      "head    head"
      "ingreds pic"
      "recipe  pic"
      "recipe  add"
    ;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    align-items: flex-start;
    box-shadow: none;
    height: auto;
    gap: 1rem;
  }

  .title-container {
    grid-area: head;
  }

  .drink-pic {
    grid-area: pic;
    position: relative;
    top: -20px;
    left: 0;
    margin: 0;
    width: 460px;
    height: auto;
    opacity: 1;
  }

  .ingredients {
    grid-area: ingreds;
  }
  
  .recipe {
    grid-area: recipe;
  }

  .details-container > button {
    position: relative;
    grid-area: add;
    justify-self: self-end;
  }
  
  .ingredients,
  .recipe {
    text-align: inherit;
    box-shadow: 0 0 20px 0 rgb(164, 177, 177);
    border: 1px solid rgba(128, 128, 128, 0.211);
    margin-left: 1rem;
    width: auto;
    min-width: 280px;
  }
  
  .accent-container {
    display: none;
  }

  .details-container > h1 {
    display: none;
  }
}

@media (max-width: 860px) {
  .details-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "head"
      "ingreds"
      "recipe"
      "add"
    ;
    margin-right: 2rem;
    /* justify-items: space-around; */
  }

  .title-container {
    grid-area: head;
  }

  .ingredients {
    grid-area: ingreds;
  }
  
  .recipe {
    grid-area: recipe;
  }

  .ingredients,
  .recipe {
    max-width: 620px;
  }

  .details-container > button {
    grid-area: add;
    align-self: center;
  }
  
  .drink-pic {
    display: none;
  }
}
