.details-container {
  font-family: Antic Didone;
  box-sizing: border-box;
  border: 1px solid black;
  height: 80vh;
  position: relative;
  margin: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  line-height: 2rem;
}

.details-container > h1 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 8rem;
  opacity: 20%;
}

.details-container h3 {
  padding-bottom: 1rem;
}

.ingredients {
  font-family: Josefin Sans;
  padding: 2em;
  width: 12em;
}


.ingredients > ul {
  list-style-type: none;
  padding: 0;
}

.recipe {
  font-family: Josefin Sans;
  padding: 2em;
  width: 12em;
}

hgroup {
  padding: 2em;
}

hgroup > h2 {
  font-size: 2.5rem;
}

hgroup > p {
  font-size: 1.5rem;
  color: purple;
  padding-left: 1rem;
}

hgroup > img {
  z-index: -1;
  position: absolute;
  overflow: hidden;
  top: 10%;
  right: -10em;
  height: 80%;
  opacity: 20%;
}
